body { margin: 0; background: #000; }
#VRButton {
    background: #222 !important;
    color: #0f0 !important;
    border: 1px solid #0f0 !important;
    font-size: 16px !important;
    padding: 20px !important;
}
